@font-face {
  font-family: "IBM Plex Sans";
  src: url("webfonts/IBM Plex Sans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("webfonts/Inter.woff2") format("woff2");
  font-display: swap;
}
