@use "../../config/abstracts/functions" as *;
@use "../../config/abstracts/mixins" as *;
@use "../../config/vars/colors" as *;

section.cookie {
  position: fixed;
  z-index: layer("overlay");
  right: 0;
  bottom: 0;
  display: flex;
  margin: 1rem;
  padding: 2rem;
  transition: visibility .15s ease-out, opacity .15s ease-out;
  border: .125rem solid var(--border-muted);
  border-radius: .5rem;
  background-color: var(--bg-accent);

  @include floating-box-width;

  > div.row {
    @include breakpoint-down(sm) {
      font-size: .875rem;
    }

    button {
      padding: 1rem;
      cursor: pointer;
      color: #FFF;
      background-color: $green;

      @include shimmer(true, rgba(#FFF, .25));

      @include hover-focus {
        color: rgba(#FFF, .75);
        background-color: $green-dark;
      }
    }
  }
}
