@use "sass:map";

@use "../config/abstracts/mixins" as *;
@use "../config/vars/breakpoints" as *;
@use "../config/vars/colors" as *;

.row:has(> .card) {
  container: card-row / inline-size;
}

.card {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-width: 32rem;
  padding: 2rem;
  transition: background-color .15s ease-in-out;
  text-decoration: none;
  border: var(--border-width) solid var(--border-muted);
  border-radius: var(--radius-lg);
  background-color: var(--bg-section);

  @container card-row (min-width: #{map.get($breakpoints, sm)}) {
    min-width: 24rem;
  }

  @include shimmer(true);

  @include hover-focus {
    background-color: var(--bg-accent);
  }

  div.card-icon {
    width: 4rem;

    > i {
      font-size: 3rem;
    }
  }

  .card-title {
    color: $simpl;
  }
}
