@use "../config" as *;

p.quote {
  position: relative;
  padding: .5rem .5rem .5rem 2rem;
  color: var(--text-muted);
  border-left: .25rem solid var(--border-muted);

  &.success {
    color: $green !important;
    border-color: $green;

    &::before {
      content: "\f058";
    }
  }

  &.warning {
    color: $orange !important;
    border-color: $orange;

    &::before {
      content: "\f06a";
    }
  }

  &.error {
    color: $red !important;
    border-color: $red;

    &::before {
      content: "\f057";
    }
  }

  &.info {
    color: $cyan !important;
    border-color: $cyan;

    &::before {
      content: "\f05a";
    }
  }

  &::before {
    @include fa-icon;
    position: absolute;
    top: .5rem;
    left: 0;
    width: 2rem;
    text-align: center;
  }
}
