@use "../config/abstracts/mixins" as *;
@use "../config/vars/colors" as *;

*.card {
  position: relative;
  overflow: hidden;
  max-width: 32rem !important;
  padding: 2rem;
  transition: background-color .15s ease-in-out;
  text-decoration: none;
  border-radius: 1rem;
  background-color: var(--bg-section);

  @include breakpoint-down(sm) {
    min-width: 100%;
  }

  @include breakpoint-up(sm) {
    min-width: 24rem;
  }

  @include shimmer(true);

  @include hover-focus {
    background-color: var(--bg-accent);
  }

  div.card-icon {
    width: 4rem;

    > i {
      font-size: 3rem;
    }
  }

  *.card-title {
    color: $simpl;
  }
}
