@use "../config/abstracts/mixins" as *;
@use "../config/vars/colors" as *;

div.code-block {
  padding: 1rem;
  text-decoration: none;
  border-radius: .5rem;
  background-color: var(--bg-section);

  code {
    > span.command-argument {
      color: $simpl;
    }

    > span.command-arguments {
      color: var(--text-muted);
    }
  }

  > span.copy-code {
    display: none;
    cursor: pointer;

    > i {
      pointer-events: none;
    }

    @include hover-focus {
      color: var(--text-75);
    }
  }

  @include hover-focus {
    > span.copy-code {
      display: inline-flex;
    }
  }
}
