@use "sass:list";
@use "sass:map";

@use "../vars/breakpoints" as *;
@use "../vars/themes" as *;

@mixin set-themes {
  :root {
    color-scheme: dark;

    @each $key, $pair in $themes {
      --#{$key}: light-dark(#{list.nth($pair, 1)}, #{list.nth($pair, 2)});
    }

    --text-5: rgb(from var(--text) r g b / .05);
    --text-25: rgb(from var(--text) r g b / .25);
    --text-50: rgb(from var(--text) r g b / .5);
    --text-75: rgb(from var(--text) r g b / .75);
    --border-50: rgb(from var(--border) r g b / .5);
  }

  html[data-theme="light"] {
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }
}

// ---------------------------------------------------------------- //

@mixin breakpoint-up($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin breakpoint-only($size) {
  $keys: map.keys($breakpoints);
  $next-index: list.index($keys, $size) + 1;

  @if $next-index <= list.length($keys) {
    $next-size: list.nth($keys, $next-index);

    @media (min-width: map.get($breakpoints, $size)) and (max-width: (map.get($breakpoints, $next-size) - .015625rem)) {
      @content;
    }
  } @else {
    @include breakpoint-up($size) {
      @content;
    }
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: (map.get($breakpoints, $size) - .015625rem)) {
    @content;
  }
}

// ---------------------------------------------------------------- //

@mixin floating-box-width {
  @include breakpoint-down(sm) {
    width: calc(100% - 2rem);
  }

  @include breakpoint-up(sm) {
    max-width: 32rem;
  }
}

// ---------------------------------------------------------------- //

@mixin hover-focus {
  &:hover,
  &:focus,
  &:focus-visible {
    @content;
  }
}

@mixin touch-device {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// ---------------------------------------------------------------- //

@mixin shimmer($hover, $color: var(--shimmer-color)) {
  & {
    position: relative;
    overflow: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      115deg,
      transparent 0%,
      $color 50%,
      transparent 100%
    );
    transform: skewX(-15deg);
    transition: left .5s ease-in-out;
  }

  @if ($hover == true) {
    @include hover-focus {
      & {
        transition: background-color .15s ease-in-out;
      }

      &::before {
        left: 110%;
        transition: left .5s ease-in-out;
      }
    }
  }
}

// ---------------------------------------------------------------- //

@mixin action-button($bg, $bg-hover, $hover-color: null, $important: false) {
  color: #FFF;
  background-color: $bg;

  @include shimmer(true, rgba(#FFF, .25));

  @include hover-focus {
    color: $hover-color;

    @if $important {
      background-color: $bg-hover !important;
    } @else {
      background-color: $bg-hover;
    }
  }
}

// ---------------------------------------------------------------- //

@mixin fa-icon {
  font-family: "Font Awesome 7 Free", sans-serif;
  font-weight: 900;
}
