@use "../config/abstracts/functions" as *;
@use "../config/abstracts/mixins" as *;
@use "../config/vars/colors" as *;

dialog.modal-overlay {
  position: fixed;
  z-index: layer("modal");
  padding: 2rem;
  transition: visibility .15s ease-out, opacity .15s ease-out;
  background-color: rgba(#000, .5);
  inset: 0;

  div.modal {
    padding: 2rem;
    border: .125rem solid var(--border-muted);
    border-radius: .5rem;
    background-color: var(--bg-section);

    @include breakpoint-up(sm) {
      max-width: 48rem !important;
    }

    div.modal-body {
      p {
        font-size: .875rem;
        color: var(--text-muted);
      }

      div.modal-user-info {
        font-size: .875rem;
        padding: .75rem 1rem;
        border: .125rem solid var(--border-muted);
        border-radius: .25rem;
        background-color: var(--bg-accent);

        span.text-muted {
          min-width: 6rem;
        }
      }
    }

    button.delete-user,
    button.delete-role {
      color: #FFF;
      background-color: $red;

      @include shimmer(true, rgba(#FFF, .25));

      &[inert] {
        color: rgba(#FFF, .5) !important;
        background-color: rgba($red, .5) !important;
      }

      @include hover-focus {
        background-color: $red-dark !important;
      }
    }

    button.restore-user {
      color: #FFF;
      background-color: $green;

      @include shimmer(true, rgba(#FFF, .25));

      @include hover-focus {
        background-color: $green-dark !important;
      }
    }

    button.purge-user {
      color: #FFF;
      background-color: $magenta;

      @include shimmer(true, rgba(#FFF, .25));

      @include hover-focus {
        background-color: $magenta-dark !important;
      }
    }
  }
}
