@use "../config/abstracts/mixins" as *;
@use "../config/vars/colors" as *;

dialog.modal-overlay {
  width: min(48rem, 100% - 2rem);
  max-height: calc(100% - 4rem);
  padding: 0;
  border: none;
  background-color: transparent;

  &, &::backdrop {
    transition: opacity .15s ease-out, overlay .15s ease-out allow-discrete, display .15s ease-out allow-discrete;
    opacity: 0;
  }

  &::backdrop {
    background-color: rgba(#000, .5);
  }

  &[open], &[open]::backdrop {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  div.modal {
    overflow-y: auto;
    padding: 2rem;
    border: var(--border-width) solid var(--border-muted);
    border-radius: var(--radius-md);
    background-color: var(--bg-section);

    div.modal-body {
      p {
        font-size: .875rem;
        color: var(--text-muted);
      }

      div.modal-user-info {
        font-size: .875rem;
        padding: .75rem 1rem;
        border: var(--border-width) solid var(--border-muted);
        border-radius: var(--radius-sm);
        background-color: var(--bg-accent);

        span.text-muted {
          min-width: 6rem;
        }
      }
    }

    button.delete-user,
    button.delete-role {
      @include action-button($red, $red-dark, $important: true);

      &[inert] {
        color: rgba(#FFF, .5) !important;
        background-color: rgba($red, .5) !important;
      }
    }

    button.restore-user {
      @include action-button($green, $green-dark, $important: true);
    }

    button.purge-user {
      @include action-button($magenta, $magenta-dark, $important: true);
    }
  }
}
