@use "../config/vars/colors" as *;

span.badge {
  font-size: .75rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  vertical-align: middle;
  white-space: nowrap;
  color: #FFF;
  border-radius: .25rem;

  &.badge-success {
    background-color: $green;
  }

  &.badge-error {
    background-color: $red;
  }
}
