@use "sass:map";
@use "sass:math";

@function shade($theme, $keys: null) {
  $keys: if($keys == null, (text, text-inverse, shadow, border), $keys);
  $out: $theme;

  @each $key in $keys {
    $val: map.get($theme, $key);

    @if $val {
      @each $pct in (25, 50, 75) {
        $out: map.merge($out, (#{$key}-#{$pct}: rgba($val, math.div($pct, 100))));
      }
    }
  }

  @return $out;
}
