@use "sass:map";
@use "sass:math";

@function shade($theme, $keys: null) {
  @if $keys == null {
    $keys: (text, text-inverse, shadow, border);
  }

  $out: $theme;

  @each $key in $keys {
    $val: map.get($theme, $key);

    @if $val {
      @each $pct in (5, 10, 25, 50, 75) {
        $out: map.merge($out, (#{$key}-#{$pct}: rgba($val, math.div($pct, 100))));
      }
    }
  }

  @return $out;
}
