$theme: (
  color-scheme: dark,
  colors: (
    text: #FFF,
    text-inverse: #000,
    bg-main: #0E0E0E,
    bg-content: #101010,
    bg-section: #141414,
    bg-accent: #181818,
    nav-button: #181818,
    nav-button-hover: #1C1C1C,
    scrollbar-track: #181818,
    scrollbar-thumb: #242424,
    scrollbar-thumb-hover: #343434,
    scrollbar-thumb-active: #444,
    border: #FFF,
    border-muted: rgba(#FFF, .25),
    shadow: #000,
    button: #141414,
    button-hover: #181818,
    input: #0E0E0E,
    input-focus: #141414,
    input-prepend-append: #1C1C1C,
    table-header: #1C1C1C,
    table-row-even: #141414,
    table-row-odd: #0E0E0E,
    shimmer-color: rgba(#FFF, .0625),
  ),
);
