$theme: (
  color-scheme: light,
  colors: (
    text: #000,
    text-inverse: #FFF,
    bg-main: #FCFCFC,
    bg-content: #FEFEFE,
    bg-section: #F8F8F8,
    bg-accent: #F4F4F4,
    nav-button: #F4F4F4,
    nav-button-hover: #F0F0F0,
    scrollbar-track: #F4F4F4,
    scrollbar-thumb: #E8E8E8,
    scrollbar-thumb-hover: #D8D8D8,
    scrollbar-thumb-active: #C8C8C8,
    border: #000,
    border-muted: rgba(#000, .25),
    shadow: #000,
    button: #F8F8F8,
    button-hover: #F4F4F4,
    input: #FCFCFC,
    input-focus: #F8F8F8,
    input-prepend-append: #F0F0F0,
    table-header: #F0F0F0,
    table-row-even: #F8F8F8,
    table-row-odd: #FCFCFC,
    shimmer-color: rgba(#000, .0625),
  ),
);
