@use "../../config/abstracts/mixins" as *;
@use "../../config/vars/colors" as *;

div.alert {
  border-radius: .5rem;
  color: #FFF;
  display: flex;
  padding: 1rem;
  transition: visibility .15s ease-out, opacity .15s ease-out;

  @include shimmer(false, rgba(#FFF, .25));

  &.global {
    bottom: 5rem;
    left: 0;
    margin: 2rem;
    position: fixed;
    z-index: 4;

    @include breakpoint-down(sm) {
      width: calc(100% - 2rem);
    }

    @include breakpoint-down(md) {
      bottom: 4rem;
      margin: 1rem;
    }

    @include breakpoint-up(sm) {
      max-width: 32rem;
    }
  }

  &.success {
    background-color: $green;
  }

  &.warning {
    background-color: $orange;
    color: #000;
  }

  &.error {
    background-color: $red;
  }

  &.info {
    background-color: $cyan;
  }
}
