@use "../../config/config" as *;

main.content {
  background-color: var(--content-background);
  box-shadow: 0 0 .25rem var(--shadow-25);
  min-height: $content-height;
  padding: $content-padding;
}
