@use "../../config/config" as *;

footer {
  box-shadow: 0 0 .25rem var(--shadow-25);
  position: relative;
  z-index: 2;

  > div.row {
    background-color: var(--footer-background);
    font-size: .75rem;
    height: $footer-height;
    padding: 0 1rem;

    a {
      text-decoration: none;
    }
  }
}
