@use "../../config/abstracts/mixins" as *;
@use "../../config/vars/colors" as *;
@use "../../config/vars/sizes" as *;

header {
  position: relative;
  z-index: 2;

  > div.navbar {
    background-color: var(--bg-section);
    border-bottom: .125rem solid var(--border-muted);
    height: $header-height;
    padding: 2rem 3rem 1rem;
    position: relative;
    z-index: 2;

    @include breakpoint-down(md) {
      height: calc($header-height - 1rem);
      padding: 1rem;
    }

    > div.nav-brand {
      padding: 0 1rem;
      z-index: 3;

      a.nav-logo {
        text-decoration: none;

        > svg {
          max-height: 100%;
          width: 3rem;
        }
      }
    }

    > nav.menu {
      @include breakpoint-down(md) {
        background-color: var(--bg-section);
        flex-direction: column;
        left: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: calc($header-height - 1rem);
        transition: max-height .15s ease-in-out;
        width: 100%;

        > div.nav-list {
          flex-direction: column;

          .nav-item {
            height: 4rem;
          }
        }
      }

      > div.nav-list .nav-item {
        padding: 0 1rem;
        text-decoration: none;
        white-space: pre-wrap;

        &.nav-link {
          font-weight: 700;

          &.profile {
            column-gap: .5rem;

            > img {
              border-radius: 50%;
              height: 2rem;
            }

            > i {
              font-size: 1.5rem;
            }
          }

          @include hover-focus {
            color: var(--text-75);
          }
        }

        &.nav-button {
          background-color: var(--nav-button);
          border-radius: .5rem;

          &.login, &.logout, &.users {
            color: #FFF;

            &.active::after {
              background-color: var(--text-inverse-50);
            }

            @include hover-focus {
              &::after {
                background-color: var(--text-inverse-25);
              }
            }
          }

          &.login {
            background-color: $green;

            @include hover-focus {
              background-color: $green-dark !important;
            }
          }

          &.logout {
            background-color: $red;

            @include hover-focus {
              background-color: $red-dark !important;
            }
          }

          &.users {
            background-color: $cyan;

            @include hover-focus {
              background-color: $cyan-dark !important;
            }
          }

          @include hover-focus {
            background-color: var(--button-hover);
          }
        }

        &.active {
          position: relative;

          &::after {
            background-color: var(--text-50);
            border-radius: .125rem;
            bottom: .5rem;
            content: "";
            height: .25rem;
            position: absolute;
            transition: width .15s ease-in-out;
            width: calc(100% - 2rem);

            @include breakpoint-down(md) {
              border-radius: 0 .25rem .25rem 0;
              height: 2rem;
              left: 0;
              top: 1rem;
              width: .25rem;
            }
          }

          @include hover-focus {
            &::after {
              background-color: var(--text-25);
              transition: width .15s ease-in-out;
              width: calc(75% - 2rem);

              @include breakpoint-down(md) {
                width: .5rem;
              }
            }
          }
        }
      }
    }

    > div.nav-options {
      z-index: 3;

      @include breakpoint-up(md) {
        flex: 0 0 auto;
      }

      div.theme-switch {
        cursor: pointer;
        width: 4rem;

        > i {
          font-size: 1.5rem;
        }

        @include hover-focus {
          > i {
            color: var(--text-75);
          }
        }
      }

      button.hamburger {
        display: none;
        padding: 0;

        @include breakpoint-down(md) {
          display: flex;
        }

        > span {
          height: 4rem;
          width: 4rem;

          > span, > span::before, > span::after {
            background-color: var(--text);
            width: 2rem;
          }
        }

        @include hover-focus {
          opacity: 1;

          > span {
            > span, > span::before, > span::after {
              background-color: var(--text-75);
            }
          }
        }
      }
    }
  }
}
