// Dark
$dark-1: #101010;
$dark-2: #0E0E0E;
$dark-3: #141414;
$dark-4: #181818;
$dark-5: #1C1C1C;
$dark-6: #202020;
$dark-7: #242424;
$dark-8: #343434;
$dark-9: #444;

// Light
$light-1: #FEFEFE;
$light-2: #FCFCFC;
$light-3: #F8F8F8;
$light-4: #F4F4F4;
$light-5: #F0F0F0;
$light-6: #EEE;
$light-7: #E8E8E8;
$light-8: #D8D8D8;
$light-9: #C8C8C8;

// ---------------------------------------------------------------- //

$themes: (
  light: (
    text: #000,
    text-inverse: #FFF,
    body-background: $light-2,
    header-background: $light-3,
    content-background: $light-1,
    section-background: $light-3,
    footer-background: $light-3,
    scrollbar-track: $light-4,
    scrollbar-thumb: $light-7,
    scrollbar-thumb-hover: $light-8,
    scrollbar-thumb-active: $light-9,
    border: #000,
    border-muted: rgba(#000, .25),
    shadow: #000,
    button: $light-3,
    button-hover: $light-4,
    input: $light-2,
    input-focus: $light-3,
  ),
  dark: (
    text: #FFF,
    text-inverse: #000,
    body-background: $dark-2,
    header-background: $dark-3,
    content-background: $dark-1,
    section-background: $dark-3,
    footer-background: $dark-3,
    scrollbar-track: $dark-4,
    scrollbar-thumb: $dark-7,
    scrollbar-thumb-hover: $dark-8,
    scrollbar-thumb-active: $dark-9,
    border: #FFF,
    border-muted: rgba(#FFF, .25),
    shadow: #000,
    button: $dark-3,
    button-hover: $dark-4,
    input: $dark-2,
    input-focus: $dark-3,
  )
);
