// Header
$header-height: 7rem;

// Footer
$footer-height: 5rem;

// Content
$content-height: calc(100% - ($header-height + $footer-height));
$content-padding-row: 3rem;
$content-padding-col: 4rem;

// Section
$section-height: calc(100svh - ($header-height + $footer-height + ($content-padding-row * 2)));

// Widths
$width-xs: 24rem;
$width-sm: 36rem;
$width-md: 48rem;
$width-ml: 56rem;
$width-lg: 64rem;
$width-lx: 72rem;
$width-xl: 80rem;
$width-xxl: 96rem;
