// Header
$header-height: 7rem;

// Footer
$footer-height: 5rem;

// Content
$content-height: calc(100% - ($header-height + $footer-height));
$content-padding-row: 3rem;
$content-padding-col: 4rem;

// Section
$section-height: calc(100svh - ($header-height + $footer-height + ($content-padding-row * 2)));
