@use "../../config/config" as *;

section.cookie {
  background-color: var(--section-background);
  bottom: 0;
  box-shadow: 0 0 .25rem var(--shadow-25);
  display: flex;
  margin: 1rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  transition: visibility .15s, opacity .15s;
  z-index: 3;

  @include breakpoint-down(sm) {
    width: calc(100% - 2rem);
  }

  @include breakpoint-up(sm) {
    max-width: 28rem;
  }

  > div.row {
    @include breakpoint-down(sm) {
      font-size: .875rem;
    }

    button {
      background-color: $green;
      box-shadow: 0 0 .25rem var(--shadow-25);
      color: var(--text-inverse);
      cursor: pointer;
      min-height: 2.5rem;
      padding: 0 1rem;

      @include hover-focus {
        background-color: $green-dark;
        box-shadow: inset 0 0 .25rem 0 var(--shadow-50);
        color: var(--text-inverse-75);
      }
    }
  }
}
