@use "config/config" as *;

html {
  scroll-behavior: smooth;

  @media screen and (max-height: 56rem) {
    font-size: .875rem;
  }

  @media screen and (min-height: 64rem) {
    font-size: 1.125rem;
  }
}

body {
  font: 100% $font-family;
  background-color: $light-2;

  @include breakpoint-up(lg) {
    margin: 0 12.5%;
  }

  @include breakpoint-up(xl) {
    margin: 0 17.5%;
  }

  @include breakpoint-up(xxl) {
    margin: 0 22.5%;
  }
}

// -------------------------------------------------------------------------------------------------------------------------------- //

noscript {
  left: 0;
  z-index: 5;
  color: $red;
  padding: 2rem;
  position: fixed;
  font-size: 1.25rem;
  background-color: $light-1;

  @include breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

// -------------------------------------------------------------------------------------------------------------------------------- //

hr {
  height: .125rem;
  background-color: #000;

  &.vertical {
    height: 100%;
    width: .125rem;
  }

  &.dimmed {
    background-color: rgba(#000, .25);
  }
}
