@use "config/config" as *;

// Generate CSS variables for themes set in config
@include set-themes();

// -------------------------------------------------------------------------------------------------------------------------------- //

html {
  scroll-behavior: smooth;

  @media screen and (max-height: 56rem) {
    font-size: .875rem;
  }

  @media screen and (min-height: 64rem) {
    font-size: 1.125rem;
  }
}

body {
  background-color: var(--body-background);
  color: var(--text);
  font: 100% $font-family;

  @include breakpoint-up(lg) {
    margin: 0 12.5%;
  }

  @include breakpoint-up(xl) {
    margin: 0 17.5%;
  }

  @include breakpoint-up(xxl) {
    margin: 0 22.5%;
  }
}

// -------------------------------------------------------------------------------------------------------------------------------- //

noscript {
  background-color: var(--body-background);
  color: $red;
  font-size: 1.25rem;
  left: 0;
  padding: 2rem;
  position: fixed;
  z-index: 5;

  @include breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}

// -------------------------------------------------------------------------------------------------------------------------------- //

hr {
  background-color: var(--border);
  height: .125rem;

  &.vertical {
    height: 100%;
    width: .125rem;
  }

  &.muted {
    background-color: var(--border-muted);
  }
}
