*.h-100 {
  height: 100%;
}

*.min-h-100 {
  min-height: 100%;
}

*.max-h-100 {
  max-height: 100%;
}

// ---------------- //

*.h-auto {
  height: auto;
}

// ---------------- //

*.h-content {
  height: $section-height;
}

*.min-h-content {
  min-height: $section-height;
}

*.max-h-content {
  max-height: $section-height;
}

// ---------------------------------------------------------------- //

*.w-100 {
  width: 100%;
}

*.min-w-100 {
  min-width: 100%;
}

*.max-w-100 {
  max-width: 100%;
}

// ---------------- //

*.w-auto {
  width: auto;
}
